.article-title {
    color: black;
    font-size: 3rem;
}


.article-container {
    margin: 0 20% 1rem 20%;
    background-color: rgb(124, 124, 124);

    border: black 3px solid;
}
.article-container:hover {
    background-color: rgb(133, 133, 133);
}

.article-button {
    width: 100%;
    text-decoration: none;
    color: white;
}

.article-title {
    font-size: 2rem;
}

.content {
    font-size: 1.5rem;
}

