.article-title {
    color: black;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}


.article-container {
    margin: 0 20% 1rem 20%;
    background-color: rgb(124, 124, 124);
    font-family: Arial, Helvetica, sans-serif;
    border: black 3px solid;
}
.article-container:hover {
    background-color: rgb(133, 133, 133);
}

.article-button {
    width: 100%;
    text-decoration: none;
    color: white;
}

.article-title {
    font-size: 2.5rem;
}

.content {
    font-size: 1.25rem;
    color: white;
}

