* {
    margin: 0;
}

body {
    background-color: rgb(207, 207, 207);
}

header {
    display: flex;
    justify-content: center;
}
.title {
    text-transform: uppercase;
    color: red;
    text-shadow: -1px 1px 8px black;
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}


.logo {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.logo:hover {
    transform: scale(1.05);
}
