* {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
}
.title {
    text-transform: uppercase;
    color: red;
    text-shadow: -1px 1px 5px black;
    font-size: 4rem;
}

.article-container {
    margin: 0 10% 1rem 10%;
    background-color: rgb(124, 124, 124);
}

.article-button {
    width: 100%;
    text-decoration: none;
    color: white;
}