* {
    margin: 0;
}

body {
    background-color: rgb(165, 165, 165);
}

header {
    display: flex;
    justify-content: center;
}
.title {
    text-transform: uppercase;
    color: red;
    text-shadow: -1px 1px 5px black;
    font-size: 4rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.article-container {
    margin: 0 20% 1rem 20%;
    background-color: rgb(124, 124, 124);

    border: black 3px solid;
}
.article-container:hover {
    background-color: rgb(133, 133, 133);
}

.article-button {
    width: 100%;
    text-decoration: none;
    color: white;
}

.article-title {
    font-size: 2rem;
}

.logo {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.logo:hover {
    transform: scale(1.05);
}
